<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div id="page">
    <h2>University Window - Obtaining Knowledge Is Power</h2>
    <p>
      <div id="content">Are you looking for the best university close to you to attend? Then begin the road to success...
      search and add the <a href="/universities">university</a> for the future.<br/>
      <%= image_tag("search2.jpg", :alt => "Education", :class=> "round")%>
      </div>
      <div id="sidebar"><h3>Quick Links</h3>
            <ul class="links">
              <li><a href="/universities">University</a></li>
              <li><%= link_to 'Contact', contact_path %></li>
              <li><%= link_to 'About us', about_path %></li>
              <li><%= link_to 'Sign up', signup_path %></li>
              <li><a href="/signin">Login</a></li>
            </ul>
      </div>
    </p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
