<h1>Listing universities</h1>
<h2>Enter keyword</h3>
<div class="row">
<div class="span6 offset3">
<form action ="universities/search" method="post" >
<input name = "key" type="input" />
<input value="Send" type="submit" class="btn btn-large btn-primary"/>
</form>
</div>
</div>

<table border="1" class="centerT">
  <tr>
    <td width="15%"><p align="center"><i><b>Name</b></i></td>
    <td width="20%"><p align="center"><i><b>Location</b></i></td>
    <td width="40%"><p align="center"><i><b>Details</b></i></td>
  </tr>
  

<% @universities.each do |university| %>
  <tr>
    <td><%= university.name %></td>
    <td><%= university.location %></td>
    <td><%= university.details %></td>
    <td><%= link_to 'Show', university %></td>
    <td><%= link_to 'Edit', edit_university_path(university) %></td>
    <td><%= link_to 'Destroy', university, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New University', new_university_path %>
