<!DOCTYPE html>
<html>
<head>
  <title>School Window | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    <script>
      $(function(){$( "#accordion" ).accordion();});
    </script>
  <style type="text/css" media="screen">
      #content {
        float: left;
        background-color: #d3d3d3;
        border: 3px solid #aaa;
        border-top: none;
        padding: 25px;
        width: 500px;
      }
      #sidebar {
        float: right;
        width: 175px;
      }
      #sidebar ul {
        margin-left: 0;
        padding-left: 0;
      }
      #sidebar ul h3 {
        margin-top: 25px;
        font-size: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
      }
      #sidebar li {
        list-style-type: none;
      }
      #sidebar ul.links li {
        margin-bottom: 5px;
        
      }
      #page {
        background-color: #a9a9a9;
        width: 750px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
      }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
